/*Sets variable for colors in css file*/
:root {
    --black: #000000;
    --gunmetal: #23313f;
    --almond: #d9d7c7;
    --khaki: #898a73;
    --umber: #39291c;
}

/*Sets color for background of page*/
body {
    background-color: var(--gunmetal);
}

header {
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 4rem;
    margin: 2rem;
    padding-bottom: 0rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--almond);
    border: .25rem solid var(--black);
    box-shadow: .5rem .5rem 1rem black;
}

h1 {
    background-color: var(--khaki);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    font-size: 3rem;
    display: inline-block;
    color: var(--umber);
    padding: 2rem;
}
*/
nav {
    display: inline-block;
}

li {
    display: inline-block;
    padding: 2rem;
    margin-top: 2rem;
}

li a {
    text-decoration: none;
    font-weight: bold;
    color: var(--umber);
    font-size: 1.75rem;
}

li a:hover {
    color: var(--black);
    font-weight: bold;
    text-decoration: underline;
}

main section{
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    padding: 2rem;
    margin: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--almond);
    border: .25rem solid var(--black);
    box-shadow: .5rem .5rem 1rem black;
}

h2 {
    justify-content: left;
    margin: 1rem;
    margin-left: 0rem;
    font-size: 2rem;
    color: var(--umber);
    background-color: var(--khaki);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    font-weight: bold;
    margin-left: 0rem;
    margin-bottom: 3rem;
    width: 11rem;
    height: 3rem;
    margin-top: -1rem;
    padding: 1rem;
    padding-left: 2rem;
}

#about-me {
    padding-top: 1rem;
    padding-left: 4rem;
    display: flex;
    flex-wrap: wrap;
}

#about-me img {
    width: 12rem;
    height: 12rem;
    border-radius: 2rem;
}

#about-me article {
    display: flex;
}

#about-me p {
    font-size: 1.75rem;
    margin: 3rem;
    padding-top: 1.5rem;
    line-height: 2.25rem;
}

#work {
    padding-top: 1rem;
    padding-left: 4rem;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3rem;
}

#work article {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}

/*Removes the link from the "a" element so that only the image will take the user to the link*/
#work a {
    width: 20rem;
    height: 20rem;
    /*Removes underline from "a"*/
    text-decoration: none;
    /*Disables "a" from being able to be targeted by the pointer*/
    pointer-events: none;
    /*Prevents the cursor from changing to a pointer when hovering over "a"*/
    cursor: default;
}

/*Set caption on each image link*/
figcaption {
    color: blue;
    background-color: rgba(83, 83, 83, 0.722);
    font-size: 2rem;
    position: relative;
    bottom: 8rem;
    left: .5rem;
    text-align: center;
    height: 4.25rem;
}

#work img {
    width: 20rem;
    height: 20rem;
    border: .5rem solid var(--gunmetal);
    border-radius: 2rem;
    box-shadow: 1rem 1rem 1rem gray;
    pointer-events: auto;
    cursor: pointer;
}

/*Set image to fade into 50% opacity over the course of half a second when the mouse hovers over the image*/
#work img:hover {
    opacity: .5;
    transition: .5s ease;
}

#contact-me {
    padding-top: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    flex-wrap: wrap;
}

#contact-me article {
    display: flex;
    justify-content:space-between;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

/*Adjusts the pages elements when the viewport goes below 1310px*/
@media screen and (max-width: 1310px) {
    header {
        padding: 1rem;
        padding-left: 4rem;
        padding-bottom: 0rem;
    }
    li {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: .5rem;
        padding: .5rem;
        margin-right: 4rem;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: .5rem;
    }
    h1 {
        margin-top: 6rem;
    }
    #about-me p {
        font-size: 1.25rem;
    }
    #contact-me p {
        font-size: 1.25rem;
    }    
    
}

/*Adjusts the pages elements when the viewport goes below 980px*/
@media screen and (max-width: 980px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
    }
    #contact-me p {
        font-size: 1rem;
    }
}

/*Adjusts the pages elements when the viewport goes below 780px*/
@media screen and (max-width: 780px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    header {
        display: flex;
        flex-direction: column;
        padding: 0rem;
        margin: 0rem;
        border-radius: 0rem;
        border: .25rem solid transparent;
        box-shadow: none
    }
    #about-me img {
        height: 14rem;
        margin-left: auto;
        margin-right: auto;
    }
    h1, h2 {
        text-align: center;
        border-radius: 0rem;
        margin-top: 0rem;
        width: auto;
    }
    li {
        margin-right: 4rem;
        margin-left: 4rem;
    }
    h2, main section, #work, #contact-me, #about-me {
        display: block;
        margin: 0rem;
        padding: 0rem;
        justify-content: center;
        border-radius: 0rem;
        border: .25rem solid transparent;
        box-shadow: none;
    }
    article {
        flex-direction: column;
        justify-content: center;
    }

    h2 {
        margin-bottom: 1rem;
    }
    #work img {
        margin-left: auto;
        margin-right: auto;
    }
    #work article {
        align-items: center;
    }
    #contact-me h2 {
        margin-top: 2rem;
    }

    }